sigem/SIGEM_RegistroPresencialMSSSI_modules/SIGEM_RegistroPresencialMSSSIJAXWS/sigm.webservices/src/main/webapp/META-INF/wsdls/SignServiceService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
 Copyright 2016 Ministerio de Sanidad, Servicios Sociales e Igualdad 
 Licencia con arreglo a la EUPL, Versión 1.1 o –en cuanto sean aprobadas por laComisión Europea– versiones posteriores de la EUPL (la «Licencia»); 
 Solo podrá usarse esta obra si se respeta la Licencia. 
 Puede obtenerse una copia de la Licencia en: 
 http://joinup.ec.europa.eu/software/page/eupl/licence-eupl 
 Salvo cuando lo exija la legislación aplicable o se acuerde por escrito, el programa distribuido con arreglo a la Licencia se distribuye «TAL CUAL», SIN GARANTIAS NI CONDICIONES DE NINGÚN TIPO, ni expresas ni implícitas. 
 Véase la Licencia en el idioma concreto que rige los permisos y limitaciones que establece la Licencia. 
-->

<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. 
	RI's version is Oracle JAX-WS 2.1.5. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. 
	RI's version is Oracle JAX-WS 2.1.5. -->
<definitions
	xmlns:wssutil="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
	xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://jsign.ws.core/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://jsign.ws.core/"
	name="SignServiceService">
	<wsp:UsingPolicy wssutil:Required="true" />
	<wsp:Policy wssutil:Id="Mtom.xml">
		<ns1:OptimizedMimeSerialization
			xmlns:ns1="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" />
	</wsp:Policy>
	<types>
		<xsd:schema>
			<xsd:import namespace="http://jsign.ws.core/"
				schemaLocation="https://swpfe.msc.es:443/plataformafirma/SignServiceService?xsd=1" />
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="beans"
				schemaLocation="https://swpfe.msc.es:443/plataformafirma/SignServiceService?xsd=2" />
		</xsd:schema>
	</types>
	<message name="sign">
		<part name="parameters" element="tns:sign" />
	</message>
	<message name="signResponse">
		<part name="parameters" element="tns:signResponse" />
	</message>
	<message name="validateSign">
		<part name="parameters" element="tns:validateSign" />
	</message>
	<message name="validateSignResponse">
		<part name="parameters" element="tns:validateSignResponse" />
	</message>
	<message name="extractOriginalDocument">
		<part name="parameters" element="tns:extractOriginalDocument" />
	</message>
	<message name="extractOriginalDocumentResponse">
		<part name="parameters" element="tns:extractOriginalDocumentResponse" />
	</message>
	<message name="extendSign">
		<part name="parameters" element="tns:extendSign" />
	</message>
	<message name="extendSignResponse">
		<part name="parameters" element="tns:extendSignResponse" />
	</message>
	<portType name="SignService">
		<operation name="sign">
			<input message="tns:sign" />
			<output message="tns:signResponse" />
		</operation>
		<operation name="validateSign">
			<input message="tns:validateSign" />
			<output message="tns:validateSignResponse" />
		</operation>
		<operation name="extractOriginalDocument">
			<input message="tns:extractOriginalDocument" />
			<output message="tns:extractOriginalDocumentResponse" />
		</operation>
		<operation name="extendSign">
			<input message="tns:extendSign" />
			<output message="tns:extendSignResponse" />
		</operation>
	</portType>
	<binding name="SignServicePortBinding" type="tns:SignService">
		<wsp:PolicyReference URI="#Mtom.xml" />
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http"
			style="document" />
		<operation name="sign">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="validateSign">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="extractOriginalDocument">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="extendSign">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
	</binding>
	<service name="SignServiceService">
		<port name="SignServicePort" binding="tns:SignServicePortBinding">
			<soap:address
				location="https://swpfe.msc.es:443/plataformafirma/SignServiceService" />
		</port>
	</service>
</definitions>