modulos/bdns/src/main/resources/datospersonales/datosPersonales.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- editado con XMLSpy v2014 rel. 3 (x64)  por INTERVENCION GENERAL ADMINISTRACION DEL ESTADO (INTERVENCION GENERAL ADMINISTRACION DEL ESTADO) -->
<wsdl:definitions xmlns:ns="http://datosPersonales.ws.igae.minhap.es" 
				  xmlns:especificos="http://intermediacion.redsara.es/scsp/esquemas/V3/datosEspecificos" 
				  xmlns:peticion="http://intermediacion.redsara.es/scsp/esquemas/V3/peticion" 
				  xmlns:respuesta="http://intermediacion.redsara.es/scsp/esquemas/V3/respuesta" 
				  xmlns:solicitud="http://intermediacion.redsara.es/scsp/esquemas/V3/solicitudRespuesta" 
				  xmlns:confirmacion="http://intermediacion.redsara.es/scsp/esquemas/V3/confirmacionPeticion" 
				  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
				  xmlns:xs="http://www.w3.org/2001/XMLSchema" 
				  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
				  name="BDNSDATPER" 
				  targetNamespace="http://datosPersonales.ws.igae.minhap.es">
	<wsdl:types>
		<xs:schema>		
			<xs:import namespace="http://intermediacion.redsara.es/scsp/esquemas/V3/datosEspecificos" schemaLocation="../BDNS/SCSP/datospersonales/datos-especificos.xsd"/>
			<xs:import namespace="http://intermediacion.redsara.es/scsp/esquemas/V3/peticion" schemaLocation="../BDNS/SCSP/datospersonales/peticion.xsd"/>
			<xs:import namespace="http://intermediacion.redsara.es/scsp/esquemas/V3/respuesta" schemaLocation="../BDNS/SCSP/datospersonales/respuesta.xsd"/>
			<xs:import namespace="http://intermediacion.redsara.es/scsp/esquemas/V3/solicitudRespuesta" schemaLocation="../BDNS/SCSP/datospersonales/solicitud-respuesta.xsd"/>
			<xs:import namespace="http://intermediacion.redsara.es/scsp/esquemas/V3/confirmacionPeticion" schemaLocation="../BDNS/SCSP/datospersonales/confirmacion-peticion.xsd"/>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="peticionMessage">
		<wsdl:part name="peticion" element="peticion:Peticion"/>
	</wsdl:message>
	<wsdl:message name="peticionAsincronaMessage">
		<wsdl:part name="peticion" element="peticion:PeticionAsincrona"/>
	</wsdl:message>
	<wsdl:message name="respuestaMessage">
		<wsdl:part name="respuesta" element="respuesta:Respuesta"/>
	</wsdl:message>
	<wsdl:message name="solicitudRespuestaMessage">
		<wsdl:part name="solicitudRespuesta" element="solicitud:SolicitudRespuesta"/>
	</wsdl:message>
	<wsdl:message name="confirmacionPeticionMessage">
		<wsdl:part name="confirmacionPeticion" element="confirmacion:ConfirmacionPeticion"/>
	</wsdl:message>
	<wsdl:portType name="DatosPersonales">
		<wsdl:operation name="peticion">
			<wsdl:input message="ns:peticionMessage"/>
			<wsdl:output message="ns:respuestaMessage"/>
		</wsdl:operation>
		<wsdl:operation name="peticionAsincrona">
			<wsdl:input message="ns:peticionAsincronaMessage"/>
			<wsdl:output message="ns:confirmacionPeticionMessage"/>
		</wsdl:operation>
		<wsdl:operation name="solicitudRespuesta">
			<wsdl:input message="ns:solicitudRespuestaMessage"/>
			<wsdl:output message="ns:respuestaMessage"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="DatosPersonalesSoap11" type="ns:DatosPersonales">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="peticion">
			<soap:operation soapAction="peticion" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="peticionAsincrona">
			<soap:operation soapAction="peticionAsincrona" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="solicitudRespuesta">
			<soap:operation soapAction="solicitudRespuesta" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="DatosPersonalesService">
		<wsdl:port name="DatosPersonalesSoap11" binding="ns:DatosPersonalesSoap11">
			<soap:address location="http://cerezo:7110/teseonet/services/BDNSDATPER"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
