modulos/portafirmas/portafirmas7_1/src/main/resources/WSDL/ObtenerDocCSV.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!--   Copyright (C) 2012-13 MINHAP, Gobierno de España
   This program is licensed and may be used, modified and redistributed under the terms
   of the European Public License (EUPL), either version 1.1 or (at your
   option) any later version as soon as they are approved by the European Commission.
   Unless required by applicable law or agreed to in writing, software
   distributed under the License is distributed on an "AS IS" BASIS,
   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express
   or implied. See the License for the specific language governing permissions and
   more details.
   You should have received a copy of the EUPL1.1 license
   along with this program; if not, you may find it at
   http://joinup.ec.europa.eu/software/page/eupl/licence-eupl

--><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://jaxb.dev.java.net/array" xmlns:ns2="http://schemas.xmlsoap.org/soap/http" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="http://ws.csv.dsic.mpt.es/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WSDocCSVImplService" targetNamespace="http://ws.csv.dsic.mpt.es/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://ws.csv.dsic.mpt.es/" version="1.0">
<xs:complexType name="documento">
<xs:sequence>
<xs:element minOccurs="0" name="contenidoDocumento" type="xs:base64Binary"/>
<xs:element minOccurs="0" name="nombreDocumento" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:schema>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://jaxb.dev.java.net/array" version="1.0">
<xs:complexType final="#all" name="intArray">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="item" nillable="true" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="obtenerDocumento">
    <wsdl:part name="arg0" type="xsd:string">
    </wsdl:part>
    <wsdl:part name="arg1" type="xsd:string">
    </wsdl:part>
    <wsdl:part name="arg2" type="ns1:intArray">
    </wsdl:part>
    <wsdl:part name="arg3" type="xsd:string">
    </wsdl:part>
    <wsdl:part name="arg4" type="xsd:string">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="obtenerDocumentoResponse">
    <wsdl:part name="return" type="tns:documento">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="WSDocCSV">
    <wsdl:operation name="obtenerDocumento">
      <wsdl:input message="tns:obtenerDocumento" name="obtenerDocumento">
    </wsdl:input>
      <wsdl:output message="tns:obtenerDocumentoResponse" name="obtenerDocumentoResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSDocCSVImplServiceSoapBinding" type="tns:WSDocCSV">
    <soap12:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="obtenerDocumento">
      <soap12:operation soapAction="" style="rpc"/>
      <wsdl:input name="obtenerDocumento">
        <soap12:body namespace="http://ws.csv.dsic.mpt.es/" use="literal"/>
      </wsdl:input>
      <wsdl:output name="obtenerDocumentoResponse">
        <soap12:body namespace="http://ws.csv.dsic.mpt.es/" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WSDocCSVImplService">
    <wsdl:port binding="tns:WSDocCSVImplServiceSoapBinding" name="WSDocCSVImplPort">
      <soap12:address location="http://servidor:puerto/portafirma/servicesv2/ObtenerDocCSV"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
