modulos/sigem-addons/addons-frameworkold/src/main/resources/META-INF/xsd/consultaVersion/consultaVersion.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="aplicacion">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="nombre"/>
        <xs:element type="xs:string" name="version"/>
        <xs:element type="xs:date" name="fecha"/>
        <xs:element type="xs:string" name="observaciones"/>
        <xs:element type="xs:anyURI" name="urlDescarga"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>