modulos/rendicioncuentas/src/main/java/es/dipucr/jaxb/tribunalcuentas/beans/RendicionCuentas.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
	attributeFormDefault="unqualified">

	<xs:element name="RelacionContratos">
		<xs:annotation>
			<xs:documentation>Relación Anual de Contratos de las Entidades
				Locales.
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="NIF" type="TipoNIF" maxOccurs="1"
					minOccurs="1">
					<xs:annotation>
						<xs:documentation>NIF de la Entidad contratante
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="TipoEntidad" type="TipoEntidad"
					minOccurs="1" maxOccurs="1">
					<xs:annotation>
						<xs:documentation>Tipo de Entidad de la Entidad Contratante
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="NomEntidad" type="TipoTexto" maxOccurs="1"
					minOccurs="1">
					<xs:annotation>
						<xs:documentation>Nombre de la Entidad contratante
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="Ejercicio" type="TipoEjercicio"
					minOccurs="1" maxOccurs="1">
					<xs:annotation>
						<xs:documentation>Ejercicio de los contratos perteneciente a la
							relación anual de contratos.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="Contrato" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Información del contrato</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Referencia" type="TipoReferencia"
								minOccurs="1" maxOccurs="1">
								<xs:annotation>
									<xs:documentation>Número de referencia del contrato
									</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="Ley" type="TipoLey"
								minOccurs="1" maxOccurs="1">
								<xs:annotation>
									<xs:documentation>Tipo de ley a la que se acoge el contrato
									</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="Modificacion" minOccurs="0" maxOccurs="1">
								<xs:annotation>
									<xs:documentation>Indicador de Modificación del Contrato. Si no es un contrato modificado no debe introducirse.</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="ReferenciaOriginal" type="TipoReferencia"
											minOccurs="1" maxOccurs="1">
											<xs:annotation>
												<xs:documentation>Número de referencia del contrato original.
												</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="EjercicioOriginal" type="TipoEjercicio"
											minOccurs="1" maxOccurs="1">
											<xs:annotation>
												<xs:documentation>Ejercicio del contarto original.
												</xs:documentation>
											</xs:annotation>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="Lotes" type="TipoInformativo"
								minOccurs="1" maxOccurs="1">
								<xs:annotation>
									<xs:documentation>Indicador de si es un contarto por lotes.
									</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="NumLotesLic" type="NumeroLotes"
								minOccurs="0" maxOccurs="1" >
								<xs:annotation>
									<xs:documentation>Número de lotes licitados del contrato, si es un
										contrato por lotes.
									</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="NumLotes" type="NumeroLotes"
								minOccurs="0" maxOccurs="1" >
								<xs:annotation>
									<xs:documentation>Número de lotes adjudicados del contrato, si es un
										contrato por lotes.
									</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="AcuerdoMarco" type="TipoInformativo"
								minOccurs="1" maxOccurs="1">
								<xs:annotation>
									<xs:documentation>Indicador de si es un contrato derivado de
										acuerdo marco.
									</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="SistemaDinamico" type="TipoInformativo"
								minOccurs="1" maxOccurs="1">
								<xs:annotation>
									<xs:documentation>Indicador de si es un contrato derivado de
										sistema dinámico.
									</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="SubastaElectronica" type="TipoInformativo"
								minOccurs="1" maxOccurs="1">
								<xs:annotation>
									<xs:documentation>Indicador de si es un contrato con subasta
										electrónica.
									</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="Complementario" type="TipoInformativo"
								minOccurs="1" maxOccurs="1">
								<xs:annotation>
									<xs:documentation>Indicador de si es un contro
										complementario.
									</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="RegArmonizada" type="TipoInformativo"
								minOccurs="1" maxOccurs="1">
								<xs:annotation>
									<xs:documentation>Indicador de si el contrato está sujeto a
										regulación armonizada.
									</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="TipoContrato" type="TipoContrato"
								minOccurs="1" maxOccurs="1">
								<xs:annotation>
									<xs:documentation>Tipo de contrato.</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="Objeto" type="TipoObjeto" maxOccurs="1"
								minOccurs="1">
								<xs:annotation>
									<xs:documentation>Objeto del contrato.</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="SistAdjudicacion" type="SistemaAdjudicacion"
								minOccurs="1" maxOccurs="1">
								<xs:annotation>
									<xs:documentation>Sistema de adjudicación del contrato.
									</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="Tramitacion" type="Tramitacion"
								minOccurs="1" maxOccurs="1">
								<xs:annotation>
									<xs:documentation>Tramitación del contrato.
									</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="Prorroga" type="TipoInformativo"
								minOccurs="1" maxOccurs="1">
								<xs:annotation>
									<xs:documentation>Indicador de si el contrato tiene clausula
										de prorroga o no.
									</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="TmpProrroga" type="TipoTemporal"
								minOccurs="0" maxOccurs="1" >
								<xs:annotation>
									<xs:documentation>Tiempo de prorroga en meses, puede estar
										indicado con decimales.
									</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="PrecLicitacion" type="TipoPrecioLicitacion"
								minOccurs="1" maxOccurs="1">
								<xs:annotation>
									<xs:documentation>Precio de Licitación del contrato. (si se trata de Contrato no menor, sujeto al Real Decreto Legislativo 3/2011 (TRLCSP), con I.V.A., en caso contrario sin I.V.A.)
									</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="IvaLicitacion" type="TipoIVA"
								minOccurs="0" maxOccurs="1">
								<xs:annotation>
									<xs:documentation>I.V.A. de precio de Licitación del contrato. (solo si se trata de Contrato no menor, sujeto a la Ley 9/2017 (LCSP))
									</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="PrecAdjudicacion" type="TipoPrecioAdjudicacion"
								minOccurs="1" maxOccurs="1">
								<xs:annotation>
									<xs:documentation>Precio de adjudicación del contrato. (si se trata de Contrato no menor, sujeto al Real Decreto Legislativo 3/2011 (TRLCSP), con I.V.A., en caso contrario sin I.V.A.)
									</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="IvaAdjudicacion" type="TipoIVA"
								minOccurs="0" maxOccurs="1">
								<xs:annotation>
									<xs:documentation>I.V.A. de precio de adjudicación del contrato. (solo si se trata de Contrato no menor, sujeto a la Ley 9/2017 (LCSP))
									</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="Ingreso" type="TipoInformativo"
								minOccurs="1" maxOccurs="1">
								<xs:annotation>
									<xs:documentation> Indicador de importe del contrato es un ingreso.
									</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="AdjDef" type="TipoInformativo"
								minOccurs="1" maxOccurs="1">
								<xs:annotation>
									<xs:documentation>Indicador de adjudicación definitiva del
										contrato.
									</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="FechaAdjDef" type="TipoFecha"
								minOccurs="0" maxOccurs="1" >
								<xs:annotation>
									<xs:documentation>Fecha de adjudicación definitiva del
										contrato, si aplica.
									</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="Formalizacion" type="TipoInformativo"
								minOccurs="1" maxOccurs="1">
								<xs:annotation>
									<xs:documentation>Indicador de formalización del contrato.
									</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="FechaForm" type="TipoFecha"
								minOccurs="0" maxOccurs="1" >
								<xs:annotation>
									<xs:documentation>Fecha de formalización del contrato.
									</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="PlazoEjecucion" type="TipoTemporal"
								minOccurs="0" maxOccurs="1" >
								<xs:annotation>
									<xs:documentation>Plazo de ejecución del contrato, en meses,
										puede contener valores con decimales.
									</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="PlazoConcesion" type="TipoTemporal"
								minOccurs="0" maxOccurs="1" >
								<xs:annotation>
									<xs:documentation>Plazo de concesión del contrato, en meses,
										puede contener valores con decimales.
									</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="Publicidad" minOccurs="1" maxOccurs="1">
								<xs:annotation>
									<xs:documentation>Datos de la Entidad</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="ExistePublicidad" type="TipoInformativo"
											minOccurs="1" maxOccurs="1">
											<xs:annotation>
												<xs:documentation>Indicador de si existe publicidad para
													el contrato de alguno de los posibles tipos.
												</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="PublicidadLicitacion" minOccurs="0"
											maxOccurs="1">
											<xs:annotation>
												<xs:documentation>Publicidad de Licitación.
												</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="FechaBOE" type="TipoFecha"
														minOccurs="0" maxOccurs="1" >
														<xs:annotation>
															<xs:documentation>Fecha de Publicidad en el Boletín
																Oficial del Estado.
															</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="FechaBOP" type="TipoFecha"
														minOccurs="0" maxOccurs="1" >
														<xs:annotation>
															<xs:documentation>Fecha de Publicidad en el Boletín
																Oficial de la Provincia.
															</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="FechaBOCA" type="TipoFecha"
														minOccurs="0" maxOccurs="1" >
														<xs:annotation>
															<xs:documentation>Fecha de Publicidad en el Boletín
																Oficial de la Comunidad Autónoma.
															</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="FechaDOUE" type="TipoFecha"
														minOccurs="0" maxOccurs="1" >
														<xs:annotation>
															<xs:documentation>Fecha de Publicidad en el DOUE.
															</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="FechaPerfil" type="TipoFecha"
														minOccurs="0" maxOccurs="1" >
														<xs:annotation>
															<xs:documentation>Fecha de Publicidad en el Perfil del
																Contratante.
															</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="FechaContEstado" type="TipoFecha"
														minOccurs="0" maxOccurs="1" >
														<xs:annotation>
															<xs:documentation>Fecha de Publicidad en la Plataforma
																de Contratación del Estado.
															</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="FechaOtros" type="TipoFecha"
														minOccurs="0" maxOccurs="1" >
														<xs:annotation>
															<xs:documentation>Fecha de Publicidad en los otros
																medios.
															</xs:documentation>
														</xs:annotation>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="PublicidadAdjudicacion"
											minOccurs="0" maxOccurs="1">
											<xs:annotation>
												<xs:documentation>Publicidad de Adjudicación.
												</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="FechaPerfil" type="TipoFecha"
														minOccurs="0" maxOccurs="1" >
														<xs:annotation>
															<xs:documentation>Fecha de Publicidad en el Perfil del
																Contratante.
															</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="FechaContEstado" type="TipoFecha"
														minOccurs="0" maxOccurs="1" >
														<xs:annotation>
															<xs:documentation>Fecha de Publicidad en la Plataforma
																de Contratación del Estado.
															</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="FechaOtros" type="TipoFecha"
														minOccurs="0" maxOccurs="1" >
														<xs:annotation>
															<xs:documentation>Fecha de Publicidad en los otros
																medios.
															</xs:documentation>
														</xs:annotation>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="PublicidadFormalizacion"
											minOccurs="0" maxOccurs="1">
											<xs:annotation>
												<xs:documentation>Publicidad de Formalización.
												</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="FechaBOE" type="TipoFecha"
														minOccurs="0" maxOccurs="1" >
														<xs:annotation>
															<xs:documentation>Fecha de Publicidad en el Boletín
																Oficial del Estado.
															</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="FechaBOP" type="TipoFecha"
														minOccurs="0" maxOccurs="1" >
														<xs:annotation>
															<xs:documentation>Fecha de Publicidad en el Boletín
																Oficial de la Provincia.
															</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="FechaBOCA" type="TipoFecha"
														minOccurs="0" maxOccurs="1" >
														<xs:annotation>
															<xs:documentation>Fecha de Publicidad en el Boletín
																Oficial de la Comunidad Autónoma.
															</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="FechaDOUE" type="TipoFecha"
														minOccurs="0" maxOccurs="1" >
														<xs:annotation>
															<xs:documentation>Fecha de Publicidad en el DOUE.
															</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="FechaPerfil" type="TipoFecha"
														minOccurs="0" maxOccurs="1" >
														<xs:annotation>
															<xs:documentation>Fecha de Publicidad en el Perfil del
																Contratante.
															</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="FechaContEstado" type="TipoFecha"
														minOccurs="0" maxOccurs="1" >
														<xs:annotation>
															<xs:documentation>Fecha de Publicidad en la Plataforma
																de Contratación del Estado.
															</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="FechaOtros" type="TipoFecha"
														minOccurs="0" maxOccurs="1" >
														<xs:annotation>
															<xs:documentation>Fecha de Publicidad en los otros
																medios.
															</xs:documentation>
														</xs:annotation>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:choice>
								<xs:element name="Contratista" minOccurs="1"
									maxOccurs="unbounded">
									<xs:annotation>
										<xs:documentation>Contratista.</xs:documentation>
									</xs:annotation>
									<xs:complexType>
										<xs:sequence>
											<xs:element name="NIF" type="TipoNIF" maxOccurs="1"
												minOccurs="1">
												<xs:annotation>
													<xs:documentation>NIF del Contratista.</xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element name="Adjudicatario" type="TipoAdjudicatario"
												minOccurs="1" maxOccurs="1">
												<xs:annotation>
													<xs:documentation>Adjudicatario del Contratista.
													</xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element name="Nacionalidad" type="TipoNacionalidad"
												minOccurs="1" maxOccurs="1">
												<xs:annotation>
													<xs:documentation>El código de Nacionalidad del
														Contratista.
													</xs:documentation>
												</xs:annotation>
											</xs:element>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
								<xs:element name="Lote" minOccurs="1" maxOccurs="unbounded">
									<xs:annotation>
										<xs:documentation>Lotes del Contrato, si aplica.
										</xs:documentation>
									</xs:annotation>
									<xs:complexType>
										<xs:sequence>
											<xs:element name="NumLote" type="TipoNumLote"
												minOccurs="1" maxOccurs="1">
												<xs:annotation>
													<xs:documentation>Número de Lote.</xs:documentation>
												</xs:annotation>
											</xs:element>
                                            <xs:element name="Adj" type="TipoInformativo"
                                                minOccurs="1" maxOccurs="1">
                                                <xs:annotation>
                                                    <xs:documentation>Indicador de adjudicación del lote.
                                                    </xs:documentation>
                                                </xs:annotation>
                                            </xs:element>
											<xs:element name="FechaAdj" type="TipoFecha"
												minOccurs="0" maxOccurs="1">
												<xs:annotation>
													<xs:documentation>Fecha de adjudicación del lote.
													</xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element name="ImpAdj" type="TipoPrecioAdjudicacion"
												minOccurs="1" maxOccurs="1">
												<xs:annotation>
													<xs:documentation>Importe de Adjudicación del lote.
													</xs:documentation>
												</xs:annotation>
											</xs:element>
                                            <xs:element name="Frm" type="TipoInformativo"
                                                minOccurs="1" maxOccurs="1">
                                                <xs:annotation>
                                                    <xs:documentation>Indicador de formalización del lote.
                                                    </xs:documentation>
                                                </xs:annotation>
                                            </xs:element>
                                            <xs:element name="FechaFrm" type="TipoFecha"
                                                minOccurs="0" maxOccurs="1">
                                                <xs:annotation>
                                                    <xs:documentation>Fecha de formalización del lote.
                                                    </xs:documentation>
                                                </xs:annotation>
                                            </xs:element>
											<xs:element name="NIF" type="TipoNIF" maxOccurs="1"
												minOccurs="1">
												<xs:annotation>
													<xs:documentation>NIF del Adjudicatario del lote.
													</xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element name="Adjudicatario" type="TipoAdjudicatario"
												minOccurs="1" maxOccurs="1">
												<xs:annotation>
													<xs:documentation>Adjudicatario del lote.
													</xs:documentation>
												</xs:annotation>
											</xs:element>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
							</xs:choice>
							<xs:element name="Observaciones" type="TipoObservaciones"
								minOccurs="1" maxOccurs="1">
								<xs:annotation>
									<xs:documentation>Observaciones del contrato.
									</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="ContratoMenor" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Información del contrato menor</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Referencia" type="TipoReferencia"
								minOccurs="1" maxOccurs="1">
								<xs:annotation>
									<xs:documentation>Número de referencia del contrato
									</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="Ley" type="TipoLey"
								minOccurs="1" maxOccurs="1">
								<xs:annotation>
									<xs:documentation>Tipo de ley a la que se acoge el contrato (tiene que ser menor)
									</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="TipoContrato" type="TipoContratoMenor"
								minOccurs="1" maxOccurs="1">
								<xs:annotation>
									<xs:documentation>Tipo de contrato.</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="Objeto" type="TipoObjeto" maxOccurs="1"
								minOccurs="1">
								<xs:annotation>
									<xs:documentation>Objeto del contrato.</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="Duracion" type="TipoTemporal"
								minOccurs="1" maxOccurs="1" >
								<xs:annotation>
									<xs:documentation>Duración (en meses).
									</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="PrecLicitacion" type="TipoPrecioLicitacion"
								minOccurs="1" maxOccurs="1">
								<xs:annotation>
									<xs:documentation> Importe del gasto aprobado / importe de licitación (sin I.V.A y otros impuestos indirectos)
									</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="IvaLicitacion" type="TipoIVA"
								minOccurs="1" maxOccurs="1">
								<xs:annotation>
									<xs:documentation>I.V.A. de precio de Licitación del contrato. 
									</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="PrecAdjudicacion" type="TipoPrecioAdjudicacion"
								minOccurs="1" maxOccurs="1">
								<xs:annotation>
									<xs:documentation>Precio de adjudicación (sin I.V.A y otros impuestos indirectos)
									</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="IvaAdjudicacion" type="TipoIVA"
								minOccurs="1" maxOccurs="1">
								<xs:annotation>
									<xs:documentation>I.V.A. de precio de adjudicación del contrato. 
									</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="FechaAdjDef" type="TipoFecha"
								minOccurs="1" maxOccurs="1" >
								<xs:annotation>
									<xs:documentation>Fecha de aprobación del gasto / fecha de adjudicación
									</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="PeticionOfertas" type="TipoInformativo"
								minOccurs="0" maxOccurs="1">
								<xs:annotation>
									<xs:documentation>Indicador de si se pidieron ofertas.
									</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="Publicidad" minOccurs="1" maxOccurs="1">
								<xs:annotation>
									<xs:documentation>Datos de la Entidad</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="ExistePublicidad" type="TipoInformativo"
											minOccurs="1" maxOccurs="1">
											<xs:annotation>
												<xs:documentation>Indicador de si existe publicidad para
													el contrato de alguno de los posibles tipos.
												</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="PublicidadLicitacion" minOccurs="0"
											maxOccurs="1">
											<xs:annotation>
												<xs:documentation>Publicidad de Licitación.
												</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="FechaPerfil" type="TipoFecha"
														minOccurs="0" maxOccurs="1" >
														<xs:annotation>
															<xs:documentation>Fecha de Publicidad en el Perfil del
																Contratante.
															</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="FechaContEstado" type="TipoFecha"
														minOccurs="0" maxOccurs="1" >
														<xs:annotation>
															<xs:documentation>Fecha de Publicidad en la Plataforma
																de Contratación del Estado.
															</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="FechaOtros" type="TipoFecha"
														minOccurs="0" maxOccurs="1" >
														<xs:annotation>
															<xs:documentation>Fecha de Publicidad en los otros
																medios.
															</xs:documentation>
														</xs:annotation>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="Contratista" minOccurs="1"
								maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>Contratista.</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="NIF" type="TipoNIF" maxOccurs="1"
											minOccurs="1">
											<xs:annotation>
												<xs:documentation>NIF del Contratista.</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="Adjudicatario" type="TipoAdjudicatario"
											minOccurs="1" maxOccurs="1">
											<xs:annotation>
												<xs:documentation>Adjudicatario del Contratista.
												</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="Nacionalidad" type="TipoNacionalidad"
											minOccurs="1" maxOccurs="1">
											<xs:annotation>
												<xs:documentation>El código de Nacionalidad del
													Contratista.
												</xs:documentation>
											</xs:annotation>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="Observaciones" type="TipoObservaciones"
								minOccurs="1" maxOccurs="1">
								<xs:annotation>
									<xs:documentation>Observaciones del contrato.
									</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:simpleType name="TipoNIF">
		<xs:restriction base="xs:string">
			<xs:pattern
				value="[a-zA-Z_0-9]{8,20}" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="TipoEjercicio">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{4}" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="TipoEntidad">
		<xs:annotation>
			<xs:documentation>
				Tipo de Entidad.
				Los valores posibles son:
				A - Ayuntamiento
				B - Cabildo
				C - Consorcio
				D - Diputación Provincial
				E - Entidad Local Menor
				G - Agrupación De Municipios
				H - Fundación
				I - Epe
				J - Consejo Insular
				M - Mancomunidad
				N - Otras Sin Ánimo De Lucro
				O - Organismo Autónomo
				P - Sociedad Mercantil
				R - Comarca
				T - Área Metropolitana
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="A" />
			<xs:enumeration value="B" />
			<xs:enumeration value="C" />
			<xs:enumeration value="D" />
			<xs:enumeration value="E" />
			<xs:enumeration value="G" />
			<xs:enumeration value="H" />
			<xs:enumeration value="I" />
			<xs:enumeration value="J" />
			<xs:enumeration value="M" />
			<xs:enumeration value="N" />
			<xs:enumeration value="O" />
			<xs:enumeration value="P" />
			<xs:enumeration value="R" />
			<xs:enumeration value="T" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="TipoTexto">
		<xs:restriction base="xs:string">
			<xs:minLength value="1" />
			<xs:pattern
				value="[0-9a-zA-ZñáàéèíìóòúùÁÉÍÓÚÑü\s/çÇ¡!¿=\?%&#8364;@#,;:\.\-_'\*\+\(\) ÀÈÌÒÙÜ&#8217;´´`·äëïöÄËÏÖ&#8220;&#8221;&#8217;ºª&amp;]+" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="TipoReferencia">
		<xs:restriction base="TipoTexto">
			<xs:minLength value="1" />
			<xs:maxLength value="50" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="TipoInformativo">
		<xs:annotation>
			<xs:documentation>
				Tipo Informativo.
				Los valores posibles son:
				1 - Sí.
				2 - No.
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="1" />
			<xs:enumeration value="2" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="TipoNumeroEntero">
		<xs:annotation>
			<xs:documentation>Tipo Número Entero Positivo</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:nonNegativeInteger" />
	</xs:simpleType>
	
	<xs:simpleType name="NumeroLotes">
		<xs:annotation>
			<xs:documentation>Tipo Número Lotes</xs:documentation>
		</xs:annotation>
		<xs:restriction base="TipoNumeroEntero" >
			<xs:minInclusive value="1" />
			<xs:maxExclusive value="10000" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="TipoContrato">
		<xs:annotation>
			<xs:documentation>
				Tipo de Contrato.
				Los valores posibles son:
				A - Obras
				E - Servicios
				C - Suministro
				F - Contratos Administrativos Especiales
				H - Contratos Concesión Obras Públicas
				B - Contratos Gestión Servicios Públicos
				I - Contratos Privados
				J - Contratos Colaboración Sector Público y Privado
				Z - Otros
				K - Concesión de Obras (solo Contrato no menor, sujeto a la Ley 9/2017 (LCSP))
				L - Concesión de Servicios (solo Contrato no menor, sujeto a la Ley 9/2017 (LCSP))
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="A" />
			<xs:enumeration value="E" />
			<xs:enumeration value="C" />
			<xs:enumeration value="F" />
			<xs:enumeration value="H" />
			<xs:enumeration value="B" />
			<xs:enumeration value="I" />
			<xs:enumeration value="J" />
			<xs:enumeration value="D" />
			<xs:enumeration value="G" />
			<xs:enumeration value="Z" />
			<xs:enumeration value="K" />
			<xs:enumeration value="L" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="TipoContratoMenor">
		<xs:annotation>
			<xs:documentation>
				Tipo de Contrato.
				Los valores posibles son:
				A - Obras
				E - Servicios
				C - Suministro
				Z - Otros
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="A" />
			<xs:enumeration value="E" />
			<xs:enumeration value="C" />
			<xs:enumeration value="Z" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="TipoObjeto">
		<xs:restriction base="TipoTexto">
			<xs:minLength value="1" />
			<xs:maxLength value="960" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="SistemaAdjudicacion">
		<xs:annotation>
			<xs:documentation>
				Sistema de Adjudicación.
				Los valores posibles son:
				A - Abierto criterio precio (solo Contrato no menor, sujeto al Real Decreto Legislativo 3/2011 (TRLCSP))
				M - Abierto criterios múltiples
				R - Restringido criterio precio (solo Contrato no menor, sujeto al Real Decreto Legislativo 3/2011 (TRLCSP))
				C - Restringido criterios múltiples
				N - Negociado con publicidad (solo Contrato no menor, sujeto al Real Decreto Legislativo 3/2011 (TRLCSP))
				S - Negociado sin publicidad
				D - Diálogo competitivo
				O - Otros
				B - Abierto único criterio (solo Contrato no menor, sujeto a la Ley 9/2017 (LCSP))
				E - Abierto simplificado (solo Contrato no menor, sujeto a la Ley 9/2017 (LCSP))
				F - Abierto simplificado sumario (solo Contrato no menor, sujeto a la Ley 9/2017 (LCSP))
				G - Concurso de proyectos (solo Contrato no menor, sujeto a la Ley 9/2017 (LCSP))
				H - Restringido único criterio (solo Contrato no menor, sujeto a la Ley 9/2017 (LCSP))
				I - Licitación con negociación (solo Contrato no menor, sujeto a la Ley 9/2017 (LCSP))
				J - Asociación para la innovación (solo Contrato no menor, sujeto a la Ley 9/2017 (LCSP))
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="A" />
			<xs:enumeration value="M" />
			<xs:enumeration value="R" />
			<xs:enumeration value="C" />
			<xs:enumeration value="N" />
			<xs:enumeration value="S" />
			<xs:enumeration value="D" />
			<xs:enumeration value="O" />
			<xs:enumeration value="B" />
			<xs:enumeration value="E" />
			<xs:enumeration value="F" />
			<xs:enumeration value="G" />
			<xs:enumeration value="H" />
			<xs:enumeration value="I" />
			<xs:enumeration value="J" />
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="Tramitacion">
		<xs:annotation>
			<xs:documentation>
				Tipo de Tramitación.
				Los valores posibles son:
				O - Ordinaria
				U - Urgente
				E - De emergencia
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="O" />
			<xs:enumeration value="U" />
			<xs:enumeration value="E" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="TipoNumeroDecimal">
		<xs:annotation>
			<xs:documentation>Tipo Importe (decimal)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:decimal"/>
	</xs:simpleType>
	
	<xs:simpleType name="TipoTemporal">
		<xs:annotation>
			<xs:documentation>Tipo de Plazo</xs:documentation>
		</xs:annotation>
		<xs:restriction base="TipoNumeroDecimal" >
			<xs:minInclusive value="0.01" />
			<xs:maxExclusive value="10000.00" />
			<xs:pattern value="[0-9]{1,4}[.][0-9]{1,2}"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="TipoPrecioLicitacion">
		<xs:annotation>
			<xs:documentation>Tipo de Precio de Licitación</xs:documentation>
		</xs:annotation>
		<xs:restriction base="TipoNumeroDecimal" >
			<xs:minInclusive value="0.01" />
			<xs:maxExclusive value="10000000000000000.00" />
			<xs:pattern value="[0-9]{1,18}[.][0-9]{2}"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="TipoPrecioAdjudicacion">
		<xs:annotation>
			<xs:documentation>Tipo de Precio de Adjudicación</xs:documentation>
		</xs:annotation>
		<xs:restriction base="TipoNumeroDecimal" >
			<xs:minInclusive value="0.01" />
			<xs:maxExclusive value="10000000000000000.00" />
			<xs:pattern value="[0-9]{1,18}[.][0-9]{2}"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="TipoIVA">
		<xs:annotation>
			<xs:documentation>Tipo de IVA</xs:documentation>
		</xs:annotation>
		<xs:restriction base="TipoNumeroDecimal" >
			<xs:minInclusive value="0.00" />
			<xs:maxExclusive value="10000000000000000.00" />
			<xs:pattern value="[0-9]{1,18}[.][0-9]{2}"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="TipoFecha">
		<xs:annotation>
			<xs:documentation>Tipo Fecha (dd/mm/aaaa)</xs:documentation>
		</xs:annotation>
		<xs:union memberTypes="xs:date">
			<xs:simpleType>
				<xs:restriction base="xs:token">
					<xs:pattern value="[0-3]?[0-9]/[0-1]?[0-9]/[0-9]{4}" />
				</xs:restriction>
			</xs:simpleType>
		</xs:union>
	</xs:simpleType>

	<xs:simpleType name="TipoAdjudicatario">
		<xs:restriction base="TipoTexto">
			<xs:minLength value="1" />
			<xs:maxLength value="1000" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="TipoNacionalidad">
		<xs:annotation>
			<xs:documentation>Código de País según la tabla ISO 3166 de 2 dígitos
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="TipoTexto">
			<xs:minLength value="2" />
			<xs:maxLength value="2" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="TipoNumLote">
		<xs:restriction base="TipoTexto">
			<xs:minLength value="1" />
			<xs:maxLength value="250" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="TipoObservaciones">
		<xs:restriction base="TipoTexto">
			<xs:maxLength value="4000" />
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="TipoLey">
		<xs:annotation>
			<xs:documentation>
				Tipo de Ley.
				Los valores posibles son:
				1 - Contrato no menor, sujeto al Real Decreto Legislativo 3/2011 (TRLCSP)
				2 - Contrato Menor
				4 - Contrato no menor, sujeto a la Ley 9/2017 (LCSP)
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="1" />
			<xs:enumeration value="2" />
			<xs:enumeration value="4" />
		</xs:restriction>
	</xs:simpleType>
	

</xs:schema>
